<div class="row">
  <div class="small-6 large-centered columns">
    <%= simple_form_for([@project, @video]) do |f| %>

      <div>
        <%= f.label :video_file, 'Video Upload (accepted formats: .mp4, .mov, .ogg, .webm)' %>
        <%= f.file_field :video_file %>
      </div>
      <%= f.input :revision_number, label: 'Revision Number' %>
      <%= f.hidden_field :approved, value: false  %>
      <%= f.button :submit %>

    <% end %>
  </div>
</div>
