<div class="row">
  <div class="large-12 columns">
    <h2><%= @project.title %></h2>
    <p><strong>Description</strong>: <%= @project.description %></p>
    <% if @project.status.present? %>
      <p><strong>Status</strong>: <%= @project.status %></p>
    <% end %>
    <% if @project.due_date.present? %>
      <p><strong>Due Date</strong>: <%= @project.due_date %></p>
    <% end %>
    <% if @project.due_time.present? %>
      <p><strong>Due Time</strong>: <%= @project.due_time.strftime("%H:%M:%S %Z") %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <table>
      <thead>
        <tr>
          <th>Revision Number</th>
          <th>Approved?</th>
          <th>Uploaded At</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @video.revision_number %></td>
          <td><%= @video.approved %></td>
          <td><%= @video.created_at %></td>
        </tr>
      </tbody>
    </table>

    <%= simple_form_for([@project, @video, @comment]) do |f| %>

    <%= f.input :body %>
    <%= f.input :timecode_start, label: 'Timecode Start (hh:mm:ss)' %>
    <%= f.input :timecode_end, label: 'Timecode End (hh:mm:ss)' %>
    <%= f.button :submit %>

    <% end %>
  </div>

  <div class="large-8 columns">
    <% if @video.comments.present? %>
      <table>
        <% @video.comments.each do |comment| %>
          <thead>
            <tr>
              <th><%= comment.user.first_name + ' ' + comment.user.last_name %></th>
              <th><%= comment.created_at %></th>
            </tr>
          </thead>

            <tbody>
              <tr>
                <td><%= comment.body %></td>
                <td><%= link_to comment.timecode_start, "#", class: 'start_link', data: { 'start-time' => comment.start_in_seconds, 'end-time' => comment.end_in_seconds } %></td>
                <td><%= comment.timecode_end %></td>
              </tr>
            </tbody>
        <% end %>
      </table>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="large-centered columns">
    <video src=<%= @video.video_file %> controls>
    </video>
  </div>
</div>

